Repository Exiger-Supplier-Portal/Exiger-Supplier-Portal, pull requests merged in 2025-10, with the labels that each got.

#17 [feat] add backend setup
  .gitignore
  backend/pom.xml
  backend/src/main/java/com/exiger/supplierportal/Application.java
Labels: backend

#19 [ci] containerize backend
  backend/Dockerfile
  backend/README.md
Labels: backend, devops, approved

#20 [docs] update backend README with simpler, more readable steps
  backend/README.md
Labels: backend, approved

#21 [docs] add Vincent Liu to Team Members in README.md
  README.md
Labels: approved
